---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>B2TC</title>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="3405a470-1296-48c0-98ba-4d313b59f230"></script>
	</head>
	<body>
		<h1>Welcome to B2TC - Technology Consultant</h1>
	</body>
</html>
